<table id="loginbox" cellpadding="0" cellspacing="0" border="0">
<tr>
	<td class="menubody" align="center">
	<table class="content" cellpadding="0" cellspacing="0" border="0" width="100%">
	<tr>
		<td class="borderMC" width="100%">

<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tr><td height="3"></td></tr>
<tr><td nowrap="true" ><_draw_param value="username" /></td></tr>
<tr><td><_draw_param value="username_input" /></td></tr>
<tr><td height="3"></td></tr>
<tr><td nowrap="true" ><_draw_param value="password" /></td></tr>
<tr><td><_draw_param value="password_input" /></td></tr>
<tr><td height="3"></td></tr>
<tr><td align="right"><_draw_param value="submit" /></td></tr>
<tr><td height="3"></td></tr>
</table>

		</td>
	</tr>
	</table>
	</td>
</tr>
</table>