<layout>
	<table cellspacing="0" cellpadding="0" border="0">
	   <tr>
	      <td align="left" valign="top">
				<table cellspacing="0" cellpadding="0" border="0">
				   <tr>
				      <td align="left" valign="top">
				         <_draw_param value="form_of_addressing" class="checkoutformtext" /> <_draw_param value="first_name" class="checkoutformtext" /> <_draw_param value="last_name" class="checkoutformtext" />
				      </td>
				   </tr>
				   <tr>
				      <td align="left" valign="top">
				         <_draw_param value="street" class="checkoutformtext" />
				      </td>
				   </tr>
				   <tr>
				      <td align="left" valign="top">
				         <_draw_param value="postal_code" class="checkoutformtext" /> <_draw_param value="city" class="checkoutformtext" /> <_draw_param value="land" class="checkoutformtext" />
				      </td>
				   </tr>
				 </table>
	      </td>
	   </tr>
	   <tr>
	      <td align="left" valign="top" colspan="3">
	         <_draw_param value="comment_title" class="checkoutformtext" /><_draw_param value="comment" class="checkoutformtext" />
	      </td>
	   </tr>
	   <tr>
	      <td align="left" valign="top" colspan="3">
	         <_draw_param value="empty" class="checkoutformtagdisabled" />
	      </td>
	   </tr>

	 </table>
</layout>
