<layout>
				<table cellspacing="0" cellpadding="0" border="0">
				   <tr>
				   	<td align="left" valign="top">
					   	<table cellspacing="0" cellpadding="0" border="0">
					   		<tr>
					   			<td align="left" valign="middle">
					   				<_draw_param value="error" class="usererrormsg" />
					   			</td>
					   		</tr>
					   	</table>
				   	</td>
				   </tr>
				   <tr>
				   	<td align="left" valign="top">
					   	<table cellspacing="0" cellpadding="0" border="0">
					   		<tr>
					   			<td align="left" valign="bottom">
					   				<_draw_param value="form_of_addressing_title" class="userformtag" />
					   			</td>
					   			<td align="left" valign="bottom">
					   				<_draw_param value="first_name_title" class="userformtag" />
					   			</td>
					   			<td align="left" valign="bottom">
					   				<_draw_param value="last_name_title" class="userformtag" />
					   			</td>
					   		</tr>
					   		<tr>
					   			<td align="left" valign="top">
					   				<_draw_param value="form_of_addressing" />
					   			</td>
					   			<td align="left" valign="top">
					   				<_draw_param value="first_name" />
					   			</td>
					   			<td align="left" valign="top">
					   				<_draw_param value="last_name" />
					   			</td>
					   		</tr>
					   	</table>
				   	</td>
				   </tr>
				   <tr>
				   	<td align="left" valign="top">
					   	<table cellspacing="0" cellpadding="0" border="0">
					   		<tr>
					   			<td align="left" valign="bottom">
					   				<_draw_param value="customer_nr_title" class="userformtag" />
					   			</td>
					   			<td align="left" valign="bottom">
					   				<_draw_param value="gender_title" class="userformtag" />
					   			</td>
					   			<td align="left" valign="bottom">
					   				<_draw_param value="lang_title" class="userformtag" />
					   			</td>
					   		</tr>
					   		<tr>
					   			<td align="left" valign="top">
					   				<_draw_param value="customer_nr" />
					   			</td>
					   			<td align="left" valign="top">
					   				<_draw_param value="gender" />
					   			</td>
					   			<td align="left" valign="top">
					   				<_draw_param value="lang" />
					   			</td>
					   		</tr>
					   	</table>
				   	</td>
				   </tr>
				   <tr>
				   	<td align="left" valign="top">
					   	<table cellspacing="0" cellpadding="0" border="0">
					   		<tr>
					   			<td align="left" valign="bottom">
					   				<_draw_param value="company_title" class="userformtag" />
					   			</td>
					   		</tr>
					   		<tr>
					   			<td align="left" valign="top">
					   				<_draw_param value="company" />
					   			</td>
					   		</tr>
					   	</table>
				   	</td>
				   </tr>
				   <tr>
				   	<td align="left" valign="top">
					   	<table cellspacing="0" cellpadding="0" border="0">
					   		<tr>
					   			<td align="left" valign="bottom">
					   				<_draw_param value="street_title" class="userformtag" />
					   			</td>
					   		</tr>
					   		<tr>
					   			<td align="left" valign="top">
					   				<_draw_param value="street" />
					   			</td>
					   		</tr>
					   	</table>
				   	</td>
				   </tr>
				   <tr>
				   	<td align="left" valign="top">
					   	<table cellspacing="0" cellpadding="0" border="0">
					   		<tr>
					   			<td align="left" valign="bottom">
					   				<_draw_param value="postal_code_title" class="userformtag" />
					   			</td>
					   			<td align="left" valign="bottom">
					   				<_draw_param value="city_title" class="userformtag" />
					   			</td>
					   			<td align="left" valign="bottom">
					   				<_draw_param value="land_title" class="userformtag" />
					   			</td>
					   		</tr>
					   		<tr>
					   			<td align="left" valign="top">
					   				<_draw_param value="postal_code" />
					   			</td>
					   			<td align="left" valign="top">
					   				<_draw_param value="city" />
					   			</td>
					   			<td align="left" valign="top">
					   				<_draw_param value="land" />
					   			</td>
					   		</tr>
					   	</table>
				   	</td>
				   </tr>
				   <tr>
				   	<td align="left" valign="top">
					   	<table cellspacing="0" cellpadding="0" border="0">
					   		<tr>
					   			<td align="left" valign="bottom">
					   				<_draw_param value="tel_title" class="userformtag" />
					   			</td>
					   			<td align="left" valign="bottom">
					   				<_draw_param value="mobile_title" class="userformtag" />
					   			</td>
					   			<td align="left" valign="bottom">
					   				<_draw_param value="fax_title" class="userformtag" />
					   			</td>
					   		</tr>
					   		<tr>
					   			<td align="left" valign="top">
					   				<_draw_param value="tel" />
					   			</td>
					   			<td align="left" valign="top">
					   				<_draw_param value="mobile" />
					   			</td>
					   			<td align="left" valign="top">
					   				<_draw_param value="fax" />
					   			</td>
					   		</tr>
					   	</table>
				   	</td>
				   </tr>
				   <tr>
				   	<td align="left" valign="top">
					   	<table cellspacing="0" cellpadding="0" border="0">
					   		<tr>
					   			<td align="left" valign="bottom">
					   				<_draw_param value="email_title" class="userformtag" />
					   			</td>
					   		</tr>
					   		<tr>
					   			<td align="left" valign="top">
					   				<_draw_param value="email" />
					   			</td>
					   		</tr>
					   	</table>
				   	</td>
				   </tr>
				   <tr>
				   	<td align="left" valign="top">
					   	<table cellspacing="0" cellpadding="0" border="0">
					   		<tr>
					   			<td align="left" valign="bottom">
					   				<_draw_param value="comment_title" class="userformtag" />
					   			</td>
					   		</tr>
					   		<tr>
					   			<td align="left" valign="top">
					   				<_draw_param value="comment" />
					   			</td>
					   		</tr>
					   	</table>
					   </td>
					 </tr>
				 </table>
</layout>				 