<layout>
<table cellspacing="0" id="contactform"><tr><td>
	<table cellspacing="0" cellpadding="0" border="0">
	   <tr>
	   	<td align="left" valign="top">
		   	<table cellspacing="0" cellpadding="0" border="0">
		   		<tr>
		   			<td align="left" valign="middle">
		   				<_draw_param value="error" class="contactformerrormsg" />
		   			</td>
		   		</tr>
		   	</table>
	   	</td>
	   </tr>

	   <tr>
	   	<td align="left" valign="top">
	   		<table cellspacing="0" cellpadding="1" border="0">
	   			<!--tr>
	   				<td align="left" valign="middle">
							<_draw_param value="company_title" class="contactformtag" />
	   				</td>
	   				<td align="left" valign="middle">
							<_draw_param value="company" />
	   				</td>
	   			</tr-->

	   			<tr>
	   				<td align="left" valign="middle">
							<_draw_param value="first_name_title" class="contactformtag" />
	   				</td>
	   				<td align="left" valign="middle">
							<_draw_param value="first_name" />
	   				</td>
	   			</tr>

	   			<tr>
	   				<td align="left" valign="middle">
							<_draw_param value="last_name_title" class="contactformtag" />
	   				</td>
	   				<td align="left" valign="middle">
							<_draw_param value="last_name" />
	   				</td>
	   			</tr>

	   			<tr>
	   				<td align="left" valign="middle">
							<_draw_param value="street_title" class="contactformtag" />
	   				</td>
	   				<td align="left" valign="middle">
							<_draw_param value="street" />
	   				</td>
	   			</tr>

	   			<tr>
	   				<td align="left" valign="middle">
							<_draw_param value="postal_code_title" class="contactformtag" />
							<span class="contactformtag"> / </span>
							<_draw_param value="city_title" class="contactformtag" />
	   				</td>
	   				<td align="left" valign="middle">
							<_draw_param value="postal_code" /> <_draw_param value="city" />
	   				</td>
	   			</tr>

	   			<!--tr>
	   				<td align="left" valign="middle">
							<_draw_param value="land_title" class="contactformtag" />
	   				</td>
	   				<td align="left" valign="middle">
							<_draw_param value="land" />
	   				</td>
	   			</tr-->

	   			<tr>
	   				<td align="left" valign="middle">
							<_draw_param value="tel_title" class="contactformtag" />
	   				</td>
	   				<td align="left" valign="middle">
							<_draw_param value="tel" />
	   				</td>
	   			</tr>

	   			<!--tr>
	   				<td align="left" valign="middle">
							<_draw_param value="fax_title" class="contactformtag" />
	   				</td>
	   				<td align="left" valign="middle">
							<_draw_param value="fax" />
	   				</td>
	   			</tr-->

	   			<tr>
	   				<td align="left" valign="middle">
							<_draw_param value="email_title" class="contactformtag" />
	   				</td>
	   				<td align="left" valign="middle">
							<_draw_param value="email" />
	   				</td>
	   			</tr>

	   			<tr>
	   				<td align="left" valign="middle">

	   				</td>
	   				<td align="left" valign="middle">
	   					<table cellspacing="0" cellpadding="0" border="0">
	   						<tr>
	   							<td align="left" valign="top">
	   								<_draw_param value="comment" />
	   							</td>
	   							<td width="50">
	   							</td>
	   							<td align="left" valign="bottom">
	   								<_draw_param value="submit" />
	   							</td>
	   						</tr>
	   					</table>
	   				</td>
	   			</tr>
	   		</table>
	   	</td>
		</tr>
	</table>
</td></tr></table>
</layout>