#sortableList a.sortableList {
   font-family: verdana, "Times New Roman", Times, serif;
   color: #2C5569;
   text-decoration: none;
}

#sortableList a.sortableList:visited {
   color: #2C5569;
   text-decoration: none;
}

#sortableList a.sortableList:hover   {
   color: #2C5569;
   text-decoration: underline;
}

#sortableList span.sortableList {
   font-family: verdana, "Times New Roman", Times, serif;
   color: #2C5569;
}

#sortableList{
   border-bottom: white solid 0px;
   border-left: white solid 0px;
   border-right: white solid 0px;
   border-top: white solid 0px;
   background-color: #2C5569;
}

#sortableList td{
   border-bottom: black solid 0px;
   border-left: black solid 0px;
   border-right: black solid 0px;
   border-top: black solid 0px;
   padding: 3px 6px 3px 6px;
}

#sortableList .sortableListClassCell{
   border-bottom: black solid 0px;
   border-left: black solid 0px;
   border-right: black solid 0px;
   border-top: black solid 0px;
   padding: 3px 6px 3px 6px;
   background-color: #FFFFFF;
}

#sortableList .sortableListClassFirstRow{
}
#sortableList .sortableListClassFirstRow td{
   border: 0px solid #333333;
   background-color: #C5CBCF;
}

#sortableList .sortableListClassFirstRow .sortableList{
   font-weight: bold;
   color: #2C5569;
}
#sortableList .sortableListClassFirstRow .sortableList:visited{
   font-weight: bold;
   color: #2C5569;
}
#sortableList .sortableListClassFirstRow .sortableList:hover{
   font-weight: bold;
   text-decoration: none;
   color: #2C5569;
}

#sortableListNavigBar .sortableList{
   font-size: 11px;
   font-weight: bold;
   color: #2C5569;
}
#sortableListNavigBar .sortableListInactive{
   font-size: 11px;
   font-weight: bold;
}
#sortableListNavigBar td.sortableListBack{
   border: #2C5569 solid 1px;
   background-color: #D8D8D8;
}
#sortableListNavigBar td.sortableListCounter{
   padding: 2px 20px 2px 20px;
}
#sortableListNavigBar td.sortableListForward{
   border: #2C5569 solid 1px;
   background-color: #D8D8D8;
}
#sortableListNavigBar{
   margin: 10px 0px 10px 0px;
   border: buttonShadow solid 0px;
}
#sortableListNavigBar td{
   padding: 2px;
   border: buttonShadow solid 0px;
}

#selectedNews{
   width: 100%;
}
#selectedNews .newsHeading{
   font-size: 13px;
   font-weight: bold;
   color: #FFFFFF;
   letter-spacing : 2px;
}
#selectedNews .newsHeading .content{
   margin: 5px 0px 5px 10px;
}
#selectedNews .newsSubheading{
   padding: 5px 0px 5px 10px;
   font-size: 12px;
   font-weight: bold;
   color: #2C5569;
   letter-spacing : 0px;
}
#selectedNews .dateCreated{
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   font-size: 11px;
   color: #2C5569;
   font-weight: normal;
}
#selectedNews .newsContent{
   padding: 5px 0px 5px 10px;
   color: #2C5569;
   font-size: 11px;
   display: block;
}
#selectedNews img{
   display: none;
}
#selectedNews .newsContent img,
#selectedNews img.newsImg{
   display: inline;
   float: right;
   margin: 5px 9px 5px 9px;
   border-width: 1px;
   border-style: solid;
   border-color: #888888;
}
.topicsSubheading{
   width: 100%;
   padding: 30px 15px 0px 25px;
   font-size: 14px;
   font-weight: bold;
   color: #D38601;
   letter-spacing : normal;
   vertical-align: bottom;
}

#topicsMenu{
   margin: 0px 0px 0px 0px;
}

#topicsMenu .menubody{
   padding: 0px 15px 0px 25px;
}

#topicsMenu .bulletLevelX1,
#topicsMenu .bulletLevelX2,
#topicsMenu .bulletLevelX3{
   margin: 0px 3px 0px 3px;
}

/* link level1 */
#topicsMenu .linkLevelX1{
   font-family: verdana, "Times New Roman", Times, serif;
   font-size: 11px;
   font-weight: bold;
   text-decoration: none;
   padding: 0px 5px 0px 0px;
   color: #2C5569;
}
#topicsMenu .linkLevelX1:hover{
   font-weight: bold;
   color: #2C5569;
   text-decoration: underline;
}

/* link level2 */
#topicsMenu .linkLevelX2{
   font-family: verdana, "Times New Roman", Times, serif;
   font-size: 11px;
   font-weight: normal;
   text-decoration: none;
   padding: 0px 5px 0px 0px;
   color: #2C5569;
}
#topicsMenu .linkLevelX2:hover{
   font-weight: normal;
   color: #2C5569;
   text-decoration: underline;
}

/* link level3 */
#topicsMenu .linkLevelX3{
   font-family: verdana, "Times New Roman", Times, serif;
   font-size: 11px;
   font-weight: normal;
   text-decoration: none;
   padding: 0px 5px 0px 0px;
   color: #2C5569;
}
#topicsMenu .linkLevelX3:hover{
   font-weight: normal;
   color: #2C5569;
   text-decoration: underline;
}


#topicsMenu .itemLevelX1{
   background-color: #FFFFFF;
   padding: 0px 0px 0px 0px;
   border: 1px solid #2C5569;
}
   #topicsMenu .itemLevelX1ov{
      background-color: #2E6F6A;
      padding: 0px 0px 0px 0px;
   border: 1px solid #2E6F6A;
   }
   #topicsMenu .itemLevelX1ov .linkLevelX1:hover{
      color: #FFFFFF;
   }
   #topicsMenu .itemLevelX1on{
      background-color: #FFFFFF;
      padding: 0px 0px 0px 0px;
   border: 1px solid #2C5569;
   }
#topicsMenu .itemLevelX2{
   background-color: #D8D8D8;
   padding: 0px 0px 0px 0px;
   margin: 0px 0px 0px 20px;
   border: 1px solid #2C5569;
}
   #topicsMenu .itemLevelX2ov{
      background-color: #2E6F6A;
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 0px 20px;
   border: 1px solid #2E6F6A;
   }
   #topicsMenu .itemLevelX2ov .linkLevelX2:hover{
      color: #FFFFFF;
   }
   #topicsMenu .itemLevelX2on{
      background-color: #D8D8D8;
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 0px 20px;
   border: 1px solid #2C5569;
   }
#topicsMenu .itemLevelX3{
   background-color: #2C5569;
   padding: 0px 0px 0px 0px;
   margin: 0px 0px 0px 40px;
   border: 1px solid #2C5569;
}
   #topicsMenu .itemLevelX3ov{
      background-color: #2E6F6A;
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 0px 40px;
   border: 1px solid #2E6F6A;
   }
   #topicsMenu .itemLevelX3ov .linkLevelX3:hover{
      color: #FFFFFF;
   }
   #topicsMenu .itemLevelX3on{
      background-color: #2C5569;
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 0px 40px;
   border: 1px solid #2C5569;
   }


#topicsMenu .borderMCLevelX1,
#topicsMenu .borderMCLevelX2,
#topicsMenu .borderMCLevelX3{
      padding: 2px 10px 2px 5px;
}

#topicsMenu .borderMCLevelX1Img,
#topicsMenu .borderMCLevelX2Img,
#topicsMenu .borderMCLevelX3Img{
   width: 1px;
   height: 1px;
   margin: 0px 0px 0px 0px;
}



#errorMessage{
   padding: 5px 0px 5px 10px;
   font-weight: bold;
   font-size: 12px;
   color: #2C5569;
}
