/*	levo - deo koji */
#sitemap .menubody{
}
#sitemap .menubody table{
}
#sitemap{
	margin: 0px 0px 0px 0px;
	width: 100%;
}
#sitemap td{
/*
	white-space: nowrap;
*/
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	vertical-align: middle;
}

/*	chelija sa poravnanjem gore desno	*/
#sitemap .alignT{
	vertical-align: top;
}

#sitemap a{
	padding: 0px 5px 0px 0px;
	text-decoration: none;
	color: #FFFFFF;
	font-weight: normal;
}
#sitemap a:hover{
	padding: 0px 5px 0px 0px;
	text-decoration: none;
	color: #CCCCDD;
	font-weight: normal;
}

/*	separator level1	*/
#sitemap .separatorLevelX1{
	text-align: left;
}

/*	separator level2	*/
#sitemap .separatorLevelX2{
	text-align: center;
}

/*	separator level3	*/
#sitemap .separatorLevelX3{
	text-align: left;
}


/*	bullet level1	*/
#sitemap .bulletLevelX1{
	width: 4px;
	height: 4px;
	margin: 5px 3px 0px 0px;
}

/*	bullet level2	*/
#sitemap .bulletLevelX2{
	width: 4px;
	height: 4px;
	margin: 5px 3px 0px 0px;
}

/*	bullet level3	*/
#sitemap .bulletLevelX3{
	width: 4px;
	height: 4px;
	margin: 5px 3px 0px 0px;
}


/*	link level1	*/
#sitemap .linkLevelX1{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	padding: 0px 5px 0px 0px;
	color: #FFFFFF;
}
#sitemap .linkLevelX1:hover{
	color: #CCCCDD;
	text-decoration: underline;
}

/*	link level2	*/
#sitemap .linkLevelX2{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	padding: 0px 5px 0px 0px;
	color: #000000;
}
#sitemap .linkLevelX2:hover{
	font-weight: normal;
	color: #444466;
	text-decoration: underline;
}

/*	link level3	*/
#sitemap .linkLevelX3{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	padding: 0px 5px 0px 0px;
	color: #000000;
}
#sitemap .linkLevelX3:hover{
	font-weight: normal;
	color: #444466;
	text-decoration: underline;
}



#sitemap .itemLevelX1{
/*
*/
	background-color: #182866;
	padding: 0px 0px 0px 0px;
}
	#sitemap .itemLevelX1ov{
		background-color: #283876;
		padding: 0px 0px 0px 0px;
	}
	#sitemap .itemLevelX1on{
		background-color: #661818;
		padding: 0px 0px 0px 0px;
	}
#sitemap .itemLevelX2{
	background-color: #AEB5CE;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 20px;
}
	#sitemap .itemLevelX2ov{
		background-color: #CED5EE;
		padding: 0px 0px 0px 0px;
   	margin: 0px 0px 0px 20px;
	}
	#sitemap .itemLevelX2on{
		background-color: #CEB5AE;
		padding: 0px 0px 0px 0px;
   	margin: 0px 0px 0px 20px;
	}
#sitemap .itemLevelX3{
	background-color: #D8D8D8;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 40px;
}
	#sitemap .itemLevelX3ov{
		background-color: #EEF2FF;
		padding: 0px 0px 0px 0px;
   	margin: 0px 0px 0px 40px;
	}
	#sitemap .itemLevelX3on{
		background-color: #E1D2CE;
		padding: 0px 0px 0px 0px;
   	margin: 0px 0px 0px 40px;
	}



/*   top border level1   */
#sitemap .borderTLLevelX1{
/*
   background-image: url(item_border_t_l_bg.gif);
*/
   padding: 0px 0px 0px 0px;
}
#sitemap .borderTCLevelX1{
   padding: 0px 0px 0px 0px;
}
#sitemap .borderTRLevelX1{
   padding: 0px 0px 0px 0px;
}
/*   top border level2   */
#sitemap .borderTLLevelX2{
   padding: 0px 0px 0px 0px;
}
#sitemap .borderTCLevelX2{
   padding: 0px 0px 0px 0px;
}
#sitemap .borderTRLevelX2{
   padding: 0px 0px 0px 0px;
}
/*   top border level3   */
#sitemap .borderTLLevelX3{
   padding: 0px 0px 0px 0px;
}
#sitemap .borderTCLevelX3{
   padding: 0px 0px 0px 0px;
}
#sitemap .borderTRLevelX3{
   padding: 0px 0px 0px 0px;
}

/*   middle border level1   */
#sitemap .borderMLLevelX1{
   padding: 0px 0px 0px 0px;
}
#sitemap .borderMCLevelX1{
      padding: 2px 10px 2px 5px;
}
#sitemap .borderMRLevelX1{
   padding: 0px 0px 0px 0px;
}
/*   middle border level2   */
#sitemap .borderMLLevelX2{
   padding: 0px 0px 0px 0px;
}
#sitemap .borderMCLevelX2{
      padding: 2px 10px 2px 15px;
}
#sitemap .borderMRLevelX2{
   padding: 0px 0px 0px 0px;
}
/*   middle border level3   */
#sitemap .borderMLLevelX3{
   padding: 0px 0px 0px 0px;
}
#sitemap .borderMCLevelX3{
      padding: 2px 10px 2px 25px;
}
#sitemap .borderMRLevelX3{
   padding: 0px 0px 0px 0px;
}

/*   bottom border level1   */
#sitemap .borderBLLevelX1{
   padding: 0px 0px 0px 0px;
}
#sitemap .borderBCLevelX1{
   padding: 0px 0px 0px 0px;
}
#sitemap .borderBRLevelX1{
   padding: 0px 0px 0px 0px;
}
/*   bottom border level2   */
#sitemap .borderBLLevelX2{
   padding: 0px 0px 0px 0px;
}
#sitemap .borderBCLevelX2{
   padding: 0px 0px 0px 0px;
}
#sitemap .borderBRLevelX2{
   padding: 0px 0px 0px 0px;
}
/*   bottom border level3   */
#sitemap .borderBLLevelX3{
   padding: 0px 0px 0px 0px;
}
#sitemap .borderBCLevelX3{
   padding: 0px 0px 0px 0px;
}
#sitemap .borderBRLevelX3{
   padding: 0px 0px 0px 0px;
}

#sitemap .menuBorderTC{
   height: 1px;
   padding: 0px 0px 0px 0px;
}
#sitemap .menuBorderTLImg,
#sitemap .menuBorderTRImg{
   width: 1px;
   height: 1px;
   margin: 0px 0px 0px 0px;
}

#sitemap .menuBorderBC{
   height: 9px;
   padding: 0px 0px 0px 0px;
}
#sitemap .menuBorderBLImg,
#sitemap .menuBorderBRImg{
   width: 1px;
   height: 1px;
   margin: 0px 0px 0px 0px;
}

#sitemap .menuBorderMLImg{
   width: 1px;
   height: 1px;
   margin: 0px 0px 0px 0px;
}
#sitemap .menuBorderMRImg{
   width: 1px;
   height: 1px;
   margin: 0px 0px 0px 0px;
}

#sitemap .borderTLLevelX1Img,
#sitemap .borderTLLevelX2Img,
#sitemap .borderTLLevelX3Img,
#sitemap .borderTCLevelX1Img,
#sitemap .borderTCLevelX2Img,
#sitemap .borderTCLevelX3Img,
#sitemap .borderTRLevelX1Img,
#sitemap .borderTRLevelX2Img,
#sitemap .borderTRLevelX3Img,
#sitemap .borderMLLevelX1Img,
#sitemap .borderMLLevelX2Img,
#sitemap .borderMLLevelX3Img,
#sitemap .borderMCLevelX1Img,
#sitemap .borderMCLevelX2Img,
#sitemap .borderMCLevelX3Img,
#sitemap .borderMRLevelX1Img,
#sitemap .borderMRLevelX2Img,
#sitemap .borderMRLevelX3Img,
#sitemap .borderBLLevelX1Img,
#sitemap .borderBLLevelX2Img,
#sitemap .borderBLLevelX3Img,
#sitemap .borderBCLevelX1Img,
#sitemap .borderBCLevelX2Img,
#sitemap .borderBCLevelX3Img,
#sitemap .borderBRLevelX1Img,
#sitemap .borderBRLevelX2Img,
#sitemap .borderBRLevelX3Img{
   width: 1px;
   height: 1px;
   margin: 0px 0px 0px 0px;
}

